p {
  
}

.button {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.profile-pic {
  width: 150px;
  height: auto;
  border-radius: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #5f778d;
}

h1, h2, h3 {
  text-align: center;
  color: white;
}